[workspace]
resolver = "2"
members = [
    "examples/deadpool-postgres",
    "examples/postgres",
    "examples/sqlite",
    "examples/tokio-postgres",
    "parsql-macros",
    "parsql-postgres",
    "parsql-sqlite",
]

[workspace.package]
authors = ["Mehmet Burak Muştu"]
description = "Deneyimsel bir sql yardımcı küfesidir."
edition = "2021"
categories = ["database", "asynchronous", "synchronous"]
keywords = ["database", "async", "postgres", "sqlite"]
repository = "https://github.com/yazdostum-nettr/parsql"
version = "0.1.0"
license = "MIT OR Apache-2.0"

[package]
name = "parsql"
description = "Deneyimsel bir sql yardımcı küfesidir. UYARI: bu bir ORM aracı değildir. Amaç sql yazımı ve kullanımında basit cümlecikler için kolaylık sağlamaktır."
version.workspace = true
license.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true

[features]
default = ["tokio-postgres"]
sqlite = ["parsql-macros"]
postgres = ["parsql-macros"]
tokio-postgres = ["parsql-macros"]
deadpool-postgres = ["parsql-macros"]

[dependencies]
parsql-macros = { path = "parsql-macros", optional = true }

